body {
    overflow-x:hidden;
    background-color: #FFFF00;
}
.container#header {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 3vh;
}

.head_container {
    height: 100%;
    width: 100%;
}

.carousel-item
{
    object-fit: cover;
    height: 260px;
    width: 350px;
}

div#name h1{
    font-size: 7vw;
    font-weight: 1;
}

div#name_desc h2{
    font-size: 3vw;
}

#carousel {
    margin: 3vh 65px;
}

.carousel-inner > .carousel-item > img {
   widows: 100%;
   max-height: fit-content;
  }

.container#about_me {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 1vh;
}

div#about_header h1{
    font-size: 5vw;
}

p#about_desc {
    font-size: 3vw;
}

.container#resume_header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 3vh;
}

.container#resume_header h1 {
    font-size: 5vw;
}

.container#resume {
    padding-top: 2vh;
    margin-left: 20%;
    margin-right: 20%;
    width: auto;
    height: auto;
}

img#resume_pic {
    border: 3px solid #010101;
}

@media (min-width: 400px){
.zoom:hover {
    transform: scale(1.3); 
  }
}

.container#contact {
    padding-top: 4vw;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.container#contact h1 {
    font-size: 5vw;
}

.flex_container {
    display: flex;
    justify-content: center;
    flex: 1;
}

.flex_container a {
    padding: 10px 40px;
    text-align: center;
}

.flex_container img {
    width: 5vw;
    height: 5vw;
}

footer{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1.5vw;
}

/* Media styles for different screen sizes*/

/*Computer Full Screen*/
@media (min-width: 680px){
    .container{
        margin-left: 20vw;
        margin-right: 20vw;
    }

    #carousel{
        margin-left: 30vw;
        margin-right: 30vw;
    }
}