.j-container {
  padding: 32px 50px;
}

body {
  font-family: "Gothic A1", serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/background-blue.jpg");
  width: 100%;
  margin: 0;
}

.test {
  height: calc(100vh);
}

.ScrollTop {
  display: none;
  justify-content: flex-end;
  width: 100%;
  bottom: 20px;
}
@media (min-width: 600px) {
  .ScrollTop {
    bottom: 40px;
    display: flex;
    position: fixed;
  }
}
.ScrollTop-icon {
  background: #f1f0eb;
  border-radius: 50%;
  transition: transform 1s, opacity 1s;
  cursor: pointer;
  margin-right: 20px;
}
@media (min-width: 600px) {
  .ScrollTop-icon {
    margin-right: 40px;
  }
}
.ScrollTop-icon:hover {
  transform: translate(3px, -3px);
  opacity: 0.5;
}

/** @define Header */
.Header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: url("../images/background-red.png");
  background-size: cover;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 599px) {
  .Header {
    height: 64px;
    display: none;
  }
}
@media (max-width: 599px) {
  .Header-navBar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 20px;
  }
}
.Header-navList {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
@media (max-width: 599px) {
  .Header-navList {
    display: none;
  }
}
.Header-navItem {
  padding: 0 64px;
}
.Header-button {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #f1f0eb;
  color: #f1f0eb;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 1s;
}
.Header-button:visited {
  color: #f1f0eb;
}
.Header-button:hover {
  text-decoration: underline;
}
.Header-button:hover {
  color: black;
}
.Header-button:focus {
  outline: none;
}
.Header-icon {
  height: 32px;
  width: 32px;
  color: white;
}
@media (min-width: 600px) {
  .Header-icon {
    display: none;
  }
}
.Header-mobile {
  display: none;
}
.Header-mobile.is-open {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: url("../images/background-red.png");
  background-size: cover;
}
.Header-mobileList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.Header-mobileLink {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #f1f0eb;
  color: #f1f0eb;
  font-size: 30px;
}
.Header-mobileLink:visited {
  color: #f1f0eb;
}
.Header-mobileLink:hover {
  text-decoration: underline;
}

.Intro {
  padding: 16px;
  height: 100vh;
}
@media (max-width: 599px) {
  .Intro {
    background: url("../images/watercolor-backgrounds-11.jpg");
    background-size: cover;
  }
}
.Intro-title {
  font-weight: 600;
  font-size: 38px;
  letter-spacing: 1.5px;
  color: #f1f0eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
@media (min-width: 600px) {
  .Intro-title {
    top: 40%;
    padding: 64px;
  }
}
.Intro-name {
  padding-bottom: 32px;
}
@media (max-width: 599px) {
  .Intro-description {
    text-align: center;
  }
}

.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
}
@media (min-width: 600px) {
  .About {
    padding: 0 64px;
    padding-bottom: 64px;
    height: calc(100vh);
  }
}
.About-title {
  font-weight: 700;
  color: #f1f0eb;
  font-size: 28px;
  padding-bottom: 16px;
}
.About-description {
  font-weight: 300;
  font-size: 20px;
  line-height: 38px;
  color: #f1f0eb;
  text-align: left;
  width: 100%;
}
@media (min-width: 600px) {
  .About-description {
    font-size: 24px;
    line-height: 48px;
  }
}
@media (min-width: 600px) {
  .About-description {
    text-align: center;
    width: 80%;
  }
}

.Projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 64px;
  padding: 0 16px;
  width: 100%;
}
@media (min-width: 600px) {
  .Projects {
    padding: 100px 64px;
    height: calc(max(auto, 100vh));
  }
}
.Projects-title {
  font-weight: 700;
  color: #f1f0eb;
  font-size: 28px;
  padding-bottom: 32px;
}
.Projects-row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 599px) {
  .Projects-row {
    flex-direction: column;
  }
}
@media (max-width: 799px) and (min-width: 600px) {
  .Projects-row {
    flex-direction: column;
  }
}
.Projects-link {
  text-decoration: none;
  margin: 0 32px;
}
@media (max-width: 599px) {
  .Projects-link {
    margin: 8px 0;
  }
}
@media (max-width: 799px) and (min-width: 600px) {
  .Projects-link {
    margin: 16px 0;
  }
}

.Resume {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
}
@media (min-width: 600px) {
  .Resume {
    padding: 64px 64px;
    height: 100vh;
  }
}
.Resume-link {
  display: flex;
  justify-content: center;
}
.Resume-img {
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.15);
  transition: box-shadow 0.5s, transform 0.5s;
  box-sizing: border-box;
  width: 400px;
  height: 520px;
}
@media (max-width: 599px) {
  .Resume-img {
    width: 100%;
    height: 420px;
  }
}
.Resume-img:hover {
  box-shadow: 8px 8px 4px rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}
.Resume-title {
  font-weight: 700;
  color: #f1f0eb;
  font-size: 28px;
  padding-bottom: 16px;
}

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 64px;
}
.Footer-title {
  font-weight: 700;
  color: #f1f0eb;
  font-size: 28px;
  padding-bottom: 16px;
}
.Footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 599px) {
  .Footer-links {
    flex-direction: column;
    align-items: flex-start;
  }
}
.Footer-link {
  margin: 0 64px;
  z-index: 5;
}
@media (max-width: 599px) {
  .Footer-link {
    margin: 16px 0;
  }
}
.Footer-icon {
  height: 64px;
  width: 64px;
}

.Project {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border: 3px solid #D79922;
  padding: 32px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/project-min.jpg");
  transition: box-shadow 0.5s, transform 0.5s;
  width: calc((100vw / 2) - 128px);
  height: 476px;
  box-sizing: border-box;
}
.Project:hover {
  box-shadow: 8px 8px 4px rgba(255, 255, 255, 0.2);
  transform: scale(1.01);
}
@media (max-width: 599px) {
  .Project {
    padding: 12px 24px;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 799px) and (min-width: 600px) {
  .Project {
    padding: 32px;
    width: 100%;
  }
}
.Project-title {
  font-weight: 500;
  color: #f1f0eb;
  font-size: 24px;
  text-align: center;
}
.Project-description {
  font-weight: 300;
  font-size: 20px;
  line-height: 38px;
  color: #f1f0eb;
  text-align: center;
  padding-bottom: 16px;
}
@media (max-width: 599px) {
  .Project-description {
    text-align: left;
  }
}
.Project-images {
  margin-top: auto;
}
.Project-img {
  height: 150px;
  border: 1px solid black;
  margin-top: auto;
  margin-bottom: 8px;
}

/*# sourceMappingURL=style.css.map */
