.j-container {
  padding: 32px 50px;
}

body {
  font-family: "Gothic A1", serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/watercolor-backgrounds-19.jpg");
  width: 100%;
}

/** @define Header */
.Header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: url("../images/watercolor-backgrounds-16.jpg");
  background-size: cover;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 599px) {
  .Header {
    display: none;
  }
}
.Header-navList {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.Header-navItem {
  padding: 0 64px;
}
.Header-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #f1f0eb;
  color: #f1f0eb;
}
.Header-link:visited {
  color: #f1f0eb;
}
.Header-link:hover {
  text-decoration: underline;
}

.Intro {
  padding: 8px;
  padding-top: 64px;
}
@media (min-width: 600px) {
  .Intro {
    padding: 164px 32px 32px;
  }
}
.Intro-title {
  font-weight: 600;
  font-size: 38px;
  letter-spacing: 1.5px;
  color: #f1f0eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Intro-name {
  padding-bottom: 32px;
}
@media (max-width: 599px) {
  .Intro-description {
    text-align: center;
  }
}

.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
  padding: 8px;
}
@media (min-width: 600px) {
  .About {
    padding: 64px;
  }
}
.About-title {
  font-weight: 700;
  color: #f1f0eb;
  font-size: 28px;
  padding-bottom: 16px;
}
.About-description {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #f1f0eb;
  text-align: center;
}
@media (max-width: 599px) {
  .About-description {
    text-align: left;
  }
}

.Projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 64px;
  padding: 8px;
}
@media (min-width: 600px) {
  .Projects {
    padding: 64px;
  }
}
.Projects-title {
  font-weight: 700;
  color: #f1f0eb;
  font-size: 28px;
  padding-bottom: 32px;
}
.Projects-row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 599px) {
  .Projects-row {
    flex-direction: column;
  }
}

.Resume {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
}
.Resume-link {
  display: flex;
  justify-content: center;
}
.Resume-img {
  border: 2px solid #f1f0eb;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.15);
  transition: box-shadow 0.5s, transform 0.5s;
  width: 400px;
}
@media (max-width: 599px) {
  .Resume-img {
    width: 80%;
  }
}
.Resume-img:hover {
  box-shadow: 8px 8px 4px rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}
.Resume-title {
  font-weight: 700;
  color: #f1f0eb;
  font-size: 28px;
  padding-bottom: 16px;
}

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 64px;
}
.Footer-title {
  font-weight: 700;
  color: #f1f0eb;
  font-size: 28px;
  padding-bottom: 16px;
}
.Footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 599px) {
  .Footer-links {
    flex-direction: column;
    align-items: flex-start;
  }
}
.Footer-link {
  padding: 0 64px;
}
@media (max-width: 599px) {
  .Footer-link {
    padding: 16px 0;
  }
}
.Footer-icon {
  height: 64px;
  width: 64px;
}

.Project {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border: 3px solid #D79922;
  margin: 0 32px;
  padding: 32px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/watercolor-backgrounds-10.jpg");
  width: calc(100% - 128px);
  transition: box-shadow 0.5s, transform 0.5s;
}
.Project:hover {
  box-shadow: 8px 8px 4px rgba(255, 255, 255, 0.2);
  transform: scale(1.01);
}
@media (max-width: 599px) {
  .Project {
    margin: 8px;
    padding: 12px 24px;
    width: 80%;
  }
}
.Project-title {
  font-weight: 500;
  color: #f1f0eb;
  font-size: 24px;
}
.Project-description {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #f1f0eb;
  text-align: center;
  padding-bottom: 16px;
}
.Project-images {
  margin-top: auto;
}
.Project-img {
  height: 150px;
  border: 1px solid black;
  margin-top: auto;
}

/*# sourceMappingURL=style.css.map */
