.About
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;
    padding: $mobile-padding;

    &-title
    {
        @include Heading--section;

        padding-bottom: 16px;
    }

    &-description
    {
        @include Text;

        width: 800px;
        text-align: center;

        @include mobile
        {
            width: 80%;
            text-align: left;
        }
    }
}
