.About
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: 0 $mobile-padding;
    width: 100%;

    @include desktop
    {
        padding: 0 $desktop-padding;
        padding-bottom: $desktop-separation;
        height: calc(100vh);
    }

    &-title
    {
        @include Heading--section;

        padding-bottom: 16px;
    }

    &-description
    {
        @include Text;

        text-align: left;
        width: 100%;

        @include desktop
        {
            text-align: center;
            width: 80%;
        }
    }
}
