.Footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 64px;

    &-title
    {
        @include Heading--section;

        padding-bottom: 16px;
    }

    &-links
    {
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile
        {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &-link
    {
        padding: 0 64px;

        @include mobile
        {
            padding: 16px 0;
        }
    }

    &-icon
    {
        height: 64px;
        width: 64px;
    }
}