/** @define Header */

.Header
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: url('../images/background-red.jpg');
    background-size: cover;
    height: $header-desktop;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile
    {
        height: $header-mobile;
        display: none;
    }

    &-navBar
    {
        @include mobile
        {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            padding-right: 20px;
        }
    }

    &-navList
    {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;

        @include mobile
        {
            display: none;
        }
    }

    &-navItem
    {
        padding: 0 64px;
    }

    &-button
    {
        @include Link;

        color: $color-white;
        -webkit-appearance: none;
        -moz-appearance: none;
        display: inline-block;
        border: none;
        background: none;
        cursor: pointer;
        transition: color 1s;

        &:hover
        {
            color: black;
        }

        &:focus
        {
            outline: none;
        }
    }

    &-icon
    {
        height: 32px;
        width: 32px;
        color: white;

        @include desktop
        {
            display: none;
        }
    }

    &-mobile
    {
        display: none;
    }

    &-mobile.is-open
    {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        // background: url('../images/background-red.png');
        // background-size: cover;
    }

    &-mobileList
    {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &-mobileLink
    {
        @include Link;

        color: $color-white;
        font-size: 30px;
    }
}