.Intro
{
    padding: $mobile-padding;
    height: 100vh;

    &-title
    {
        @include Heading--title;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 30%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        @include desktop
        {
            top: 45%;
            padding: $desktop-padding;
        }
    }

    &-name
    {
        padding-bottom: 32px;
    }

    &-description
    {
        @include mobile
        {
            text-align: center;
        }
    }
}
