@mixin mobile {
    @media (max-width: 599px) { @content; }
}

@mixin desktop {
    @media (min-width: 600px) { @content; }
  }

@mixin Heading--title {
    font-weight: 600;
    font-size: 38px;
    letter-spacing: 1.5px;
    color: $color-white;
}

@mixin Heading--section {
    font-weight: 700;
    color: $color-white;
    font-size: 28px;
}

@mixin Heading--project
{
    font-weight: 500;
    color: $color-white;
    font-size: 24px;
}

@mixin Text {
    font-weight: 300;
    font-size: 20px;
    line-height: 38px;
    color: $color-white;
}

@mixin Link 
{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: $color-white;

    &:visited
    {
        color: $color-white;
    }

    &:hover
    {
        text-decoration: underline;
    }
}