.Project
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border: 3px solid $color-gold;
    padding: 32px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.15)
      ),
      url('../images/background-project.jpg');
    
    transition: box-shadow 0.5s, transform 0.5s;
    width: calc((100vw / 2) - 128px);
    height: 476px;
    box-sizing: border-box;
    
    &:hover
    {
        box-shadow: 8px 8px 4px rgba(255, 255, 255, 0.2);
        transform: scale(1.01);
    }

    @include mobile
    {
        padding: 12px 24px;
        width: 100%;
        height: auto;
    }

    @media (max-width: 799px) and (min-width: 600px) {
        padding: 32px;
        width: 100%;
    }

    &-title
    {
        @include Heading--project;

        text-align: center;
    }

    &-description
    {
        @include Text--project;

        text-align: center;
        padding-bottom: 16px;

        @include mobile
        {
            text-align: left;
        }
    }

    &-images
    {
        margin-top: auto;
    }

    &-img
    {
        height: 150px;
        max-width: 250px;
        object-fit: cover;
        border: 1px solid black;
        margin-top: auto;
        margin-bottom: 8px;
    }
}