.Projects
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-sizing: border-box;
    margin-bottom: $mobile-separation;
    padding: 0 $mobile-padding;
    width: 100%;

    @include desktop
    {
        padding: $header-desktop $desktop-padding;
        height: calc(max(auto, 100vh));
    }

    &-title
    {
        @include Heading--section;

        padding-bottom: 32px;
    }

    &-row
    {
        display: flex;
        justify-content: space-between;
        padding: 32px 0;

        @include mobile
        {
            flex-direction: column;
            padding: 0;
        }

        @media (max-width: 799px) and (min-width: 600px){
            flex-direction: column;
        }
    }

    &-link
    {
        text-decoration: none;
        margin: 0 32px;

        @include mobile
        {
            margin: 8px 0;
        }

        @media (max-width: 799px) and (min-width: 600px){
            margin: 16px 0;
        }
    }
}
