.Projects
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 64px;
    padding: $mobile-padding;

    @include desktop
    {
        padding: $desktop-padding;
    }

    &-title
    {
        @include Heading--section;

        padding-bottom: 16px;
    }

    &-row
    {
        display: flex;
        justify-content: space-between;

        @include mobile
        {
            flex-direction: column;
        }
    }
}
