.Resume
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 64px;

    box-sizing: border-box;
    padding: 0 $mobile-padding;
    margin-bottom: $mobile-separation;
    width: 100%;

    @include desktop
    {
        padding: $desktop-separation $desktop-padding;
        height: 100vh;
    }

    &-link
    {
        display: flex;
        justify-content: center;
    }

    &-img
    {
        box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.15);
        transition: box-shadow 0.5s, transform 0.5s;
        box-sizing: border-box;

        @include mobile
        {
            width: 100%;
            height: 420px;
        }

        &:hover
        {
            box-shadow: 8px 8px 4px rgba(255, 255, 255, 0.2);
            transform: scale(1.05);
        }

        width: 400px;
        height: 520px;
    }

    &-title
    {
        @include Heading--section;

        padding-bottom: 16px;
    }
}
