.j-container
{
    padding: 32px 50px;
}

body
{
    font-family: 'Gothic A1', serif;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url('../images/background-blue.jpg');
    width: 100%;
    margin: 0;
}

.test
{
    height: calc(100vh);
}

.ScrollTop
{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    bottom: 20px;

    @include desktop
    {
        bottom: 40px;
    }

    &-icon
    {
        background: $color-white;
        border-radius: 50%;
        transition: transform 1s, opacity 1s;
        cursor: pointer;
        margin-right: 20px;
        
        @include desktop
        {
            margin-right: 40px;
        }

        &:hover
        {
            transform: translate(3px, -3px);
            opacity: 0.5;
        }
    }
}