.j-container
{
    padding: 32px 50px;
}

body
{
    font-family: 'Gothic A1', serif;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url('../images/watercolor-backgrounds-19.jpg');
    width: 100%;
}
