// Set all Sass variables here

$color-gold: #D79922 !default;
$color-tan: #EFE2BA !default;
$color-red: #F13C20 !default;
$color-blue: #4056A1 !default;
$color-gray: #C5CBE3 !default;
$color-green: #094418 !default;
$color-white: #f1f0eb !default;

$mobile-padding: 16px;
$desktop-padding: 64px;
$desktop-separation: 64px;
$mobile-separation: 32px;

$header-desktop: 100px;
$header-mobile: 64px;

$max-width: 1100px; // TODO set maxwidth to everything